.componentFooter {
    box-shadow: -2px -1px 10px  black;
    border-bottom: 1px solid #868686;
    background-color: #838383;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 9;
    bottom: 0;

}

@media screen and (min-width: 577px) {
    .componentFooter {
        width: 80vw;
        left: 20vw;
        top: 90vh;
        bottom: 0;
    }
    .componentFooter.top86 {
        
        height: 10vh !important;
        bottom: 0;
    }
}

@media screen and (max-width: 260px){
    .hargaProdukFooter {
        padding: 0;
        font-size: .85em !important;
    }
    
    .componentFooter {
        overflow: auto !important;
         padding: 0 0 0 1vh;
    }

    .componentFooter > .containerButton > .tombolPesan {
        padding: 0 1vh !important;
        font-size: .7em !important; 
    }
    
    .componentFooter > .containerButton > .tombolTambah {
        padding: 0 1vh;
        font-size: .8em !important;
    }
}

.hargaProdukFooter {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    letter-spacing: .3px;
    font-size: 1.06em;
}

.componentFooter > .containerButton {
    display: flex;
    height: 100%;
}
.componentFooter > .containerButton > .tombolPesan {
    font-size: .8em;
    color: white;
    border-color: rgba(0, 0, 0, .3);
    background-color: var(--hargaSetelahDiskon);
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
    width: 100%;
    padding: 0 2vh;
}

.componentFooter > .containerButton > .tombolTambah {
    color: white;
    font-style: bold;
    font-size: 1.1em;
    border: none;
    width: 30%;
    padding: 0 2vh;
    background-color: #3d3d3d;
}


.top86 {
    bottom: 10vh !important;
    height: 8vh !important;
}


