html[data-theme="light"] {
    --colorKategori: #f1f1f1;
    
}

html[data-theme="dark"] {
    
    --colorKategori: #505050;
}

.KategoriHome {
    background-color: var(--colorKategori);
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.933);
    width: 90%;
    margin: 20px auto;
}

.KategoriHome > .judulKategori {    
    margin: 0 0 10px 0;
    color: var(--color);
    padding: .5vh 1.5vh;
}   

.KategoriHome > .logoKategori {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
}

.KategoriHome > .logoKategori > .containerLogo {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin: 10px 2px;
}

.KategoriHome > .logoKategori > .containerLogo > .namaLogo {
    text-align: center;
    font-size: .9em;
    margin: 5px 0;
    color: var(--color);;
}


.KategoriHome > .logoKategori > .containerLogo > svg {
    width: 100%;
    height: 40px;
    color: var(--color);

}





@media screen and (max-width: 250px) {
    .KategoriHome > .logoKategori > .containerLogo {
        width: 40% !important;
    }
    .KategoriHome > .logoKategori > .containerLogo > svg{
        width: 80% !important;
    }
    .KategoriHome > .logoKategori > .containerLogo > .namaLogo {
        display: none !important;
    }
}

@media screen and (min-width: 577px) {
    .KategoriHome {
        background-color: inherit;
        box-shadow: none;
        height: 15vh;
        padding: 0 !important;
        margin: 0 !important;
        width: 100vw;
    }   
    
    .KategoriHome > .logoKategori  {
        flex-wrap: nowrap;
        width: 45vw;

    }
    .KategoriHome > .judulKategori {
        font-size: 1em;
        margin: 0;
    }
    .KategoriHome > .logoKategori > .containerLogo > .namaLogo {
        display: none;
    }
    
    
}