:root {
    --bgNavigasi: white;
}

@media screen and (min-width: 577px) {
    .navs {
        width: 20vw !important;
        height: 75vh !important;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 0 5px rgba(0, 0, 0, .5);
    }
    .nav {
        display: flex;
        flex-direction: row !important;
        width: 100%;
        align-items: center;
        font-weight: bold !important;
    }

    
    .logoNavbar {
        margin: 0 !important;
    }
}

.navs {
    width: 100%;
    bottom: 0;
    height: 10vh;
    /* border-top: 1px solid #AAA666; */
    position: fixed;
    display: flex;
    justify-content: space-around;
    z-index: 100 !important;
    border-top: 1px solid rgba(26, 26, 26, 0.445);
    background-color: var(--bgNavigasi);
}

.nav {
    padding: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: 200;
    color: #191919;
}

#NavigasiBar > .navs > .nav > span > svg {
    color: black !important;
}
.logoNavbar {
    margin: auto;
}

@media screen and (max-width: 280px) {
    .fontNavbar {
        display: none;
    }
    .nav {
        width: 20%;
        margin: auto;
        /* background-color: black; */
    }
}