html[data-theme="light"] {
    --colorBorderSample: white;
}

html[data-theme="dark"] {
    --colorBorderSample: black;
}

#sampleCard {
    width: 100%;
    position: relative;
    margin: 0 0 300px 0;
}

.judulSampleCard {
    color: var(--color);
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 7px 7px 20px;
}


.samplesCard {
    padding: 4px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.933);
    /* background-color: #fafcff; */
    background-color: var(--colorNavigasi);
    right: 2%;
    left: 2%;
    display: flex;
    overflow-x: auto;
}

.samplesCard > .containerCard > .card {
    margin: 5px;
    border-radius: 15px 5px 15px 5px;
    border: 1px solid var(--colorBorderSample);
    box-shadow: 1px 1px 1px 1px #eee7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 165px;
    height: 270px;
    background-color: var(--colorBody);
    
}

.samplesCard > .containerCard > .card > .gambar {
    height: 45%;
    border-radius: 15px 5px 0 0;
}

.samplesCard > .containerCard > .card > .centerCard {
    height: 35%;
    font-size: .7em;
}

.samplesCard > .containerCard > .card > .centerCard > .namaCard {
    color: var(--color);
    margin: 0 4px 5px 1px;
    font-weight: bold;
    font-size: 1.03em;
    height: 40%;
    text-align: left;
    letter-spacing: .6px;
    overflow-y: auto;
}

.samplesCard > .containerCard > .card > .centerCard > .deskripsiCard {
    margin: 3px 6px 0 2px;
    height: 60%;
    letter-spacing: .1px;
    font-weight: normal;
    opacity: .8;
    overflow-y: auto;
    color: var(--color);
}


 /* HARGA SAMPEL CARD  */

.samplesCard > .containerCard > .card > .footerCard {
    display: flex;
    height: 15%;
    justify-content: space-between;
    padding: 2px 3px 2px 3px;
    position: relative;
    z-index: 3;
}

.samplesCard > .containerCard > .card > .footerCard > .hargaCard > .hargaSetelahDiskon {
    letter-spacing: .6px;
    font-size: 1.03em!important;
    margin-top: 13%;
    color: var(--hargaSetelahDiskon) !important;
}

.samplesCard > .containerCard > .card > .footerCard > .hargaCard >  .harga {
    color: var(--hargaSebelumDiskon);
    letter-spacing: .4px;
    font-weight: 600;
}

.samplesCard > .containerCard > .card > .footerCard > .hargaCard > .hargaSebelumDiskon {

    color: var(--hargaSebelumDiskon);
    font-style: normal;
    letter-spacing: .2px;
    text-decoration: line-through;
    text-decoration-color: var(--colorStyle);
    position: absolute;
    top: -11%;
    font-size: .98em;
}

.samplesCard > .containerCard > .card > .footerCard > .tombolPesan {
    border-radius: 5px 5px 10px 5px;
    /* color: var(--colorBorderSample); */
    color: white;
    font-style: bold;
    font-size: 1.6em;
    padding: 0 10px;
    border: 2px solid var(--colorBody);
    background-color: #5a5a5ada;
} 

.samplesCard > .containerCard > .card > .footerCard > .tombolPesan:hover {
    color: black;
    background-color: #686868;
} 


.samplesCard > .lihatSemua > p {
    padding: 0 25px;
    font-weight: 600;
    text-align: center;
    position: relative;
    display: flex;
    color: var(--color);
    font-size: .9em;
    background-color: var(--colorBody);
    height: 100%;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}










