
html[data-theme="light"] {
    --bgCard: #fdfeffe8;
}

html[data-theme="darkt"] {
    --bgCard: rgba(2, 1, 0, 0.91);
    
}

#CardsShooping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}

@keyframes scaleCard {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.04)
    }
    100% {
        transform: scale(1.5)
    }
}

.judulCard {
    margin: 15px 8px 0 8px;
    font-size: 1em;
    color: var(--color);
}

#CardsShooping > .card:hover {
    background-color: #6b6b6b !important;
    transform: scale(1.06);
    transition-duration: 0.78s;
    border: none !important;
    
}



#CardsShooping > .card {
    margin: 10px;
    border-radius: 15px 5px 15px 5px;
    border: 1px solid white;
    box-shadow: 1px 1px 2px 1px #cfcdcd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 280px;
    /* background-color: #ebd3d36b; */
    background-color: var(--bgCard);
    
}

#CardsShooping > .card > .gambar {
    height: 45%;
    border-radius: 15px 5px 0 0;
}

#CardsShooping > .card > .centerCard {
    height: 35%;
    font-size: .7em;
    color: var(--color);
}

#CardsShooping > .card > .centerCard > .namaCard {
    margin: 0 4px 5px 2px;
    font-weight: bold;
    letter-spacing: .6px;
    font-size: 1.03em;
    height: 40%;
    text-align: left;
    overflow-y: auto;
}

#CardsShooping > .card > .centerCard > .deskripsiCard {
    margin: 3px 6px 0 3px;
    height: 60%;
    letter-spacing: .1px;
    opacity: .7;
    overflow-y: auto;
}

#CardsShooping > .card > .footerCard {
    display: flex;
    height: 15%;
    justify-content: space-between;
    padding: 2px 3px 2px 7px;
    position: relative;
    z-index: 3;
}

#CardsShooping > .card > .footerCard > .hargaCard > .harga {
    color: var(--hargaSebelumDiskon);
    font-weight: bold;
    letter-spacing: .5px
}

#CardsShooping > .card > .footerCard > .hargaCard >  .hargaSetelahDiskon {
    font-weight: bold;
    margin-top: 2.3vh;
    font-size: 1em;
    color: var(--hargaSetelahDiskon);
    /* font-size: 1.08em; */
}



#CardsShooping > .card > .footerCard > .hargaCard > .hargaSebelumDiskon {

    color: var(--hargaSebelumDiskon);
    font-style: normal;
    text-decoration: line-through;
    text-decoration-color: var(--colorStyle);
    position: absolute;
    top: -10%;
    font-weight: bold !important; 
    font-size: 1.04em;
}

#CardsShooping > .card > .footerCard > .tombolPesan {
    border-radius: 5px 5px 10px 5px;

    color: var(--color);
    font-style: bold;
    font-size: 1.6em;
    padding: 0 10px;
    border: 2px solid white;
    background-color: #5a5a5ada;
} 

#CardsShooping > .card > .footerCard > .tombolPesan:hover {
    color: black;
    border-color: black;
    background-color: #686868;
} 







@media screen and (max-width: 230px){
    
    #CardsShooping > .card {
        width: 90% !important;
        margin: 20px 0;
        padding-bottom: 5vh !important; 
    }
    
    #CardsShooping > .card > .centerCard > .namaCard {
        font-size: .9em !important;
    }
    #CardsShooping > .card:hover {
        transform: scale(1.03);
    }
    #CardsShooping > .card > .footerCard > .hargaCard > .hargaSebelumDiskon {
        width: 100%;

        font-size: 1em !important;
        text-align: start;
    }

    #CardsShooping > .card > .footerCard > .hargaCard > .hargaSetelahDiskon {
        text-align: end;
        font-size: 1em !important;
    }
    #CardsShooping > .card > .footerCard > .tombolPesan {
        color: var(--colorNormal);
        background-color: var(--color);
        
    }

}


/* 300 px */




@media screen and (max-width: 330px){
    #CardsShooping > .card > .centerCard > .namaCard {
        font-size: .8em;
    }
    #CardsShooping > .card > .footerCard {
        display: inline-block;
        height: 15%;
        justify-content: space-between;
        padding: 0;
        position: relative;
        z-index: 3;
    }
    
    #CardsShooping > .card > .footerCard > .hargaCard >  .hargaSetelahDiskon {
        margin-top: 10%;
        font-size: .7em;
    }
    
    
    
    #CardsShooping > .card > .footerCard > .hargaCard > .hargaSebelumDiskon {
        top: -8%;
        font-size: .8em;
    }
    
    #CardsShooping > .card {
        height:  300px !important;
        border-radius: 15px 5px 0 5px;
        margin-bottom: 18px !important;
        /* border-radius: 15px 5px 15px 5px; */
        padding-bottom: 7vh;
    
    }
    #CardsShooping > .card > .gambar {
        height: 25vh;
    }

    #CardsShooping > .card > .footerCard > .tombolPesan:hover {
        border: none;
        border-radius: 2px;
        font-size: 1.2em;
        background-color: inherit;
        color: white;
        background-color: black; 
        width: 100%;
        /* background-color: black; */
        padding: 0;
        /* border-radius: 5px 5px 10px 5px; */
    }
    #CardsShooping > .card > .footerCard > .tombolPesan {
        border: none;
        border-radius: 0 0 0 5px;
        font-size: 1.2em;

        /* background-color: rgba(0, 0, 0, .7);  */
        width: 100%;
        padding: 0;
          
    }   
}

@media screen and (min-width: 577px) {
    #CardsShooping {
        width: 80vw !important;
    }
    #CardsShooping > .card {
        width: 35%;
        
    }
}

@media screen and (min-width: 850px) {
    #CardsShooping {
        width: 80vw !important;
        justify-content: center;
    }

    #CardsShooping > .card {
        width: 25%;
        margin: 3vh;
    }
}  