html[data-theme="light"] {
    --bgLocal: #e7e7e7;
}

html[data-theme="dark"] {
    --bgLocal: #414141;
}

.containerFirst {
    padding-bottom: 10px;
    background-color: var(--bgLocal);
    width: 100% !important;
    position: relative;
    color: var(--color);
}

.containerFirst > div >  .componentGambar {
    width: 100% !important;
    height: 150px;
    display: flex;
    overflow-x: auto;
}


.containerFirst > div > .componentGambar > .containerGambarDetail  {
    display: flex;
    width: 100%;
    justify-content: center;
}

.containerFirst > div > .componentGambar > .containerGambarDetail  > .gambarDetail {
    width: 80%;
    height: 25vh;
    border-radius: 10px;
}

@media screen and (min-width: 500px) {
    .containerFirst > div > .componentGambar > .containerGambarDetail  > .gambarDetail {
        width: 75%;
    }
}

@media screen and (max-width: 400px) {
    .containerFirst > .describeDetail >.headerDescribe {
        flex-direction: column;
    }
    .containerFirst > .describeDetail >.headerDescribe > .namaProduk {
        width: 100% !important;

    }   
    .containerFirst > .describeDetail >.headerDescribe > .containerHargaProduk {
        width: 100% !important;
        
    }
}

@media screen and (min-width: 800px) {
    .containerFirst > div > .componentGambar > .containerGambarDetail  > .gambarDetail {
        width: 70%;
    }
}

@media screen and (min-width: 1000px) {
    .containerFirst > div > .componentGambar > .containerGambarDetail  > .gambarDetail {
        width: 60%;
    }
}


/* Detail Nama,harga dan deskripsi */

.containerFirst > .describeDetail {
    padding: 0 1.5vh;
}

.containerFirst > .describeDetail >.headerDescribe {
    padding: 7px;
    margin-right: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.containerFirst > .describeDetail >.headerDescribe > .namaProduk {
    width: 65%;
    font-size: 1em;
    height: 10vh;
    overflow-y: auto;
    letter-spacing: .8px;
    border-bottom: 1px solid rgba(0, 0, 0, .4) !important;
}

.containerFirst > .describeDetail >.headerDescribe > .containerHargaProduk {
    width: 30%;
    font-size: .9em;
    margin: 0 3px;

}

.containerFirst >.describeDetail >.headerDescribe > .containerHargaProduk > .hargaProduk {
    color: var(--hargaSebelumDiskon);
    font-weight: bold;
    letter-spacing: .4px;
    font-size: 1.3em;
    text-decoration: line-through;
    text-decoration-color: var(--color);
}

.containerFirst > .describeDetail >.headerDescribe > .containerHargaProduk > .totalHarga {
    color: #ffd000;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .5px;

}

.describeDetail >.headerDescribe > .containerHargaProduk > .hargaSetelahDiskon {
    color: var(--hargaSetelahDiskon) !important;
}


.containerFirst > .describeDetail > .deskripsiProduk {
    margin: 15px 20px 5px 10px;
    text-align: justify;
    letter-spacing: .8px;
    opacity: .86;
    font-size: .87em !important;
}

.height100 {
    height: 100px !important;
    overflow-y: auto;
}





