

.containerFirst {
    padding-bottom: 10px;
    background-color: #e7e7e7;
    width: 100% !important;
    position: relative;
}

.containerFirst > div >  .componentGambar {
    width: 100% !important;
    height: 150px;
    display: flex;
    overflow-x: auto;
}


.containerFirst > div > .componentGambar > .containerGambarDetail  {
    display: flex;
    width: 100%;
    justify-content: center;
}

.containerFirst > div > .componentGambar > .containerGambarDetail  > .gambarDetail {
    width: 100%;
    height: 100%;
}



/* Detail Nama,harga dan deskripsi */

.containerFirst > .describeDetail {
    padding: 0 1.5vh;
}

.containerFirst > .describeDetail >.headerDescribe {
    padding: 7px;
    margin-right: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.containerFirst > .describeDetail >.headerDescribe > .namaProduk {
    width: 65%;
    font-size: 1em;
    height: 10vh;
    overflow-y: auto;
    letter-spacing: .8px;
}

.containerFirst > .describeDetail >.headerDescribe > .containerHargaProduk {
    width: 30%;
    font-size: .9em;
    margin: 0 3px;

}

.containerFirst >.describeDetail >.headerDescribe > .containerHargaProduk > .hargaProduk {
    color: var(--hargaSebelumDiskon);
    font-weight: bold;
    letter-spacing: .4px;
    font-size: 1.3em;
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, .2);
}

.containerFirst > .describeDetail >.headerDescribe > .containerHargaProduk > .totalHarga {
    color: #ffd000;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: .5px;

}

.describeDetail >.headerDescribe > .containerHargaProduk > .hargaSetelahDiskon {
    color: var(--hargaSetelahDiskon) !important;
}


.containerFirst > .describeDetail > .deskripsiProduk {
    margin: 15px 20px 5px 10px;
    text-align: justify;
    letter-spacing: .8px;
    opacity: .86;
    font-size: .87em !important;
}

.height100 {
    height: 100px !important;
    overflow-y: auto;
}









