.alamatCheckout  {
    color: var(--colorNormal);
}

.alamatCheckout > .judul {
    padding: 0 3vh;
    letter-spacing: .2px;
    
}

.alamatCheckout > form {
    margin: 2vh 0;
    width: 100%;
}

.alamatCheckout > form > .container {
    width: 85%;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
}


.alamatCheckout > form > .container > .judul {
    font-size: 1em;
    margin-bottom: 1vh;
    color: var(--colorNormal) !important;
    padding: 0 .4vh;
    font-weight: bold;
    letter-spacing: .7px;
}

.alamatCheckout > form > .container > input {
    padding: 1vh    ;
    font-size: .9em;
    /* outline-color: var(--hargaSetelahDiskon); */
    border: 1px solid blue;
    font-weight: 400;
    background-color: var(--color);
    color: var(--colorNormal);
    letter-spacing: .5px;
}

.alamatCheckout > form > .container > select {
    padding: 4px;
    background-color: var(--color);
    letter-spacing: .3px;
    font-size: .9em;
    border: 1px solid blue;
    color: var(--colorNormal);
    font-weight: 200;

}

.alamatCheckout > form > .container  > textarea {
    border: 1px solid blue;
    padding: 5px;
    background-color: var(--color);
    color: var(--colorNormal);
    letter-spacing: .3px;
    font-size: 1.02em;
    
}


.alamatCheckout > form > .tombolUbah {
    width: 85%;
    display: block;
    color: white;
    letter-spacing: .5px;
    border: 1px solid var(--colorJudulInput);
    background-color: var(--colorJudulInput);
    margin: 2vh auto;
    padding: 1vh;
}



