:root {
    --colorTulisanSecond: #353535;
    --colorJudulInput: #227cb8;
    --colorBody: #f4f4f4;
    --colorNavigasi: #f8f8f8 !important;
    --hargaSebelumDiskon: rgb(236, 240, 14) !important;
    --hargaSetelahDiskon: #ff0000 !important;
}


@media screen and (min-width: 577px) {
    #CONTAINER-APP {
        background-color: #2b2b2bef;
    }
    #CONTAINER-COMPONENT {
        width: 576px !important;
        margin: 0 auto;
        background-color: var(--colorBody);       
    }
    .navs, #CardsShooping, div.containerSearch, .containerFirst , .componentFooter {
        width: 576px !important;
        margin: 0 auto;
    }
}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Hind&family=Poppins:wght@300&family=Roboto+Slab:wght@200&display=swap'); 
/* font-family: 'Hind', sans-serif;
font-family: 'Roboto Slab', serif; */

.JUDUL {
    font-family: 'Roboto Slab', serif;
    color: #4993A1 !important;
    padding: 10px;
}

.POPPINS {
    font-family: 'Poppins', sans-serif;
}

.HIND {
    font-family: 'Hind', sans-serif;
}

.ROBOTO {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

.HEEBO {
    font-family: 'Heebo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    background-color: #2b2b2bef;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

#HomeWarung, #ShoopingWarung, #CartWarung, #DetailProduk, #CheckoutWarung, #TransactionWarung, #InsertProduk{
    overflow-y: auto !important;
    width: 100%;
    padding-top: 90px;
    background-color: var(--colorBody);
    padding-bottom: 100px;
}



.containerSearch {
    position: fixed;
    background-color: var(--colorNavigasi) !important;
    width: 100% !important;
    z-index: 99;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}






