* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Hind&family=Poppins:wght@300&family=Roboto+Slab:wght@200&display=swap'); 
/* font-family: 'Hind', sans-serif;
font-family: 'Roboto Slab', serif; */

.POPPINS {
    font-family: 'Poppins', sans-serif;
}

.HIND {
    font-family: 'Hind', sans-serif;
}

.ROBOTO {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

.HEEBO {
    font-family: 'Heebo', sans-serif;
}

.JUDUL {
    font-family: 'Roboto Slab', serif;
    color: var(--colorJUDUL);
    padding: 10px;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer !important;
}


@media screen and (min-width: 577px) {
    /* Header Layar Desktop */
    #CONTAINER-APP {
        overflow: hidden !important;
    }
    .containerSearch {
        background-color: red !important;
        height: 25vh;
        display: flex;
        align-items: center;
        background-color: var(--colorNavigasi);
    }

    .containerSearch > .secondContainer {
        display: none !important;
    }

    .JUDUL {
        width: 20vw !important;
    }
    .containerSearch > .headerDesktop {
        display: flex !important;
        flex-direction: column;
        width: 75% !important;
        margin: 0;
        padding: 0;
        ;
        
    }
    
    .containerSearch > .headerDesktop > .header {
        display: flex;
        width: 100%;
        
    }
    .containerSearch > .headerDesktop > .header > .footerHeader > .bottomFooter {
        display: flex;
        justify-content: space-between;
        
    }

    .containerSearch > .headerDesktop > .header > .footerHeader > .bottomFooter > #header {
        width: 70%;
        
    }

    .containerSearch > .headerDesktop > .header > .footerHeader > .bottomFooter > .darkMode {
        width: 20%;
    }
    .containerSearch > .headerDesktop > .header > .footerHeader {
        width: 55%;
        display: flex;
        flex-direction: column;
        
    }
    
    .containerSearch > .headerDesktop > .header > .KategoriHome > .judulKategori {
        display: none;
    
    }

    /* END HEADER DESKTOP */
    .COMPONENT-BODY {
        display: none;
    }
    .COMPONENT-BODY-DESKTOP.P15 {
        padding-top: 15vh !important;
    }
    .COMPONENT-BODY-DESKTOP {
        display: block !important;
        width: 80vw !important;
        margin-left: 20vw;
        padding-top: 25vh;
        padding-bottom: 10vh !important;
        background-color: var(--colorBody);
        
    }

     
    
}



:root {
    --hargaSebelumDiskon: rgb(236, 240, 14) !important;
    --hargaSetelahDiskon: #ff0000 !important;
}
html[data-theme='light'] {
    --color: black;
    --bold: normal;
    --colorJUDUL: #4993A1;
    --colorTulisanSecond: #353535;
    --colorJudulInput: #227cb8;
    --colorBody: #f4f4f4;
    --colorNavigasi: #f8f8f8 !important;
    --colorNormal: white;
    --colorStyle: rgba(0, 0, 0, .2);
}

html[data-theme='dark'] {
    --color: white;
    --bold: bold;
    --colorJUDUL: #52b5c9;
    --colorTulisanSecond: #353535;
    --colorJudulInput: #227cb8;
    --colorBody: #201e1e;
    --colorNormal: black;
    --colorNavigasi: #292828 !important;
    --colorStyle: rgba(255, 255, 255, .8);
}

body {
    overflow-x: hidden;
    color: black;

}

.COMPONENT-BODY-DESKTOP {
    display: none;
}
.COMPONENT-BODY.P25 {
    padding-bottom: 25vh !important;
    
}
.COMPONENT-BODY,   #LoginClient {
    overflow-y: auto !important;
    width: 100%;
    padding-top: 17vh;
    background-color: var(--colorBody);
    height: 100vh;

    padding-bottom: 11vh !important;
    color: var(--color);
    
}

.containerSearch > .headerDesktop {
    display: none;
}



.containerSearch {
    position: fixed;
    z-index: 9;
    background-color: var(--colorNavigasi) !important;
    width: 100% !important;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    
}

.containerSearch > .secondContainer {
    display: flex;
    padding-right: 3vh;
    align-items: start;

}



svg {
    color: var(--color);
}
